<!DOCTYPE html>
<html>
    <head>
        <title>The world of Star Wars</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="{{ url_for('static', filename='star_wars.js') }}" defer></script>
    </head>
    <body>
        <header>
            <h1>Star Wars universe planets</h1>
        </header>
        <table id="sw-table">
            <thead>
            <tr>
                {% for title in table_header %}
                    <th>{{ title }}</th>
                {% endfor %}
            </tr> 
            </thead> 
        </table>  
        <button type="button" id="prev">Previous Page</button>    
        <button type="button" id="next">Next Page</button>
        <div id="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title"></div>
                    <div class="modal-close">&times;</div>
                </div>
                <div class="modal-body">
                    <div class="modal-table">
                        <table>
                            <thead>
                                <tr>
                                    {% for title in modal_table_header %}
                                        <th>{{ title }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <button class="modal-close-button">Close</button>
                </div>
            </div>
        </div>
    </body>
</html>