<!DOCTYPE html>
<html>
    <head>
        <title>The world of Star Wars</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='star_wars.js') }}" defer></script>
    </head>
    <body>
        <header>
            <h1>Star Wars universe planets</h1>
            {% if user_logged_in %}
                {{ user_logged_in }}
                <a href="/logout">Log out</a>
            {% else %}
                <a href="/login">Log in</a>
                <a href="/register">Register</a>            
            {% endif %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="flash">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button id="statistics">Statistics</button>
        </header>
        <table id="sw-table">
            <thead>
            <tr>
                {% for title in table_header %}
                    <th class="sw-th">{{ title }}</th>
                {% endfor %}
            </tr> 
            </thead> 
        </table>  
        <button type="button" id="prev">Previous Page</button>    
        <button type="button" id="next">Next Page</button>
        <div id="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title"></div>
                    <div class="modal-close">&times;</div>
                </div>
                <div class="modal-body">
                    <table class="modal-table">
                        <thead>
                            <tr>
                                {% for title in modal_table_header %}
                                    <th>{{ title }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                    </table>
                    <button class="modal-close-button">Close</button>
                </div>
            </div>
        </div>
    </body>
</html>