<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='star_wars.js') }}" defer></script>
    </head>
    <body>
        <header>
            <h2>Please type your credentials:</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="flash">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </header>
            <form method="POST" action="/login">
                <p class="login_text">User Name:</p>
                <input type="text" name="name" pattern=".{3,}" required title="3 characters minimum">
                <p class="login_text">Password:</p>
                <input type="password" name="password" pattern=".{5,}"   required title="5 characters minimum">
                <button type="submit">Log in</button>
                <p class="login_text">Don't have a user name yet?</p>
                <a href="/register" id="register">Register here</a>
            </form>
    </body>
</html>
